body {
	background-color: $bg-color;
	color: $white;
	font-family: $roboto;
	font-size: 16px;
}
h1 {
	font-size: 5rem;
	font-weight: 300;
    text-transform: uppercase;
}

.login-container{
    align-items: center;
	display: flex;
    height: 100vh;
    justify-content: center;
    padding: 2rem 0;
}

.login-form {
	border: 1px solid $grey;
	padding: 2rem;
    width: 80%;
    h1 {
    	margin-bottom: 2rem;
    }
}
.input-field input {
	display: block;
	width: 100%;
	border:none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    font-weight: 300;
    font-size: 3rem;
    height: 5rem;
    color: $grey;
    border-bottom: 1px solid $white;
    margin-bottom: 3rem;
    &::-webkit-input-placeholder {
        text-transform: uppercase;
    	color: $white;
    }
    &:-moz-placeholder {
        text-transform: uppercase;
    	color: $white;
    }
    &::-moz-placeholder {
        text-transform: uppercase;
    	color: $white;
    }
    &:-ms-input-placeholder {
    	color: $white;
        text-transform: uppercase;
    }
}
.actions button {
    background-color: transparent;
    border: 1px solid $white;
	color: $grey;
    font-size: 4rem;
    font-weight: 700;
    height: 6rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    transition: all .3s ease-out;
    text-transform: uppercase;
    width: 100%;
    -webkit-appearance: none;
    &:hover {
        background-color: $grey;
        border: 1px solid $grey;
    	color: $white;
        cursor: pointer;
    }
}